<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">
  <!-- 
        parameterType="java.lang.String"  ==> string
        parameterType="java.lang.Integer" ==> int
        parameterType="java.util.Map"     ==> hashmap
   -->
  <select id="replyListData" resultType="BoardVO" parameterType="hashmap">
    SELECT no,subject,name,regdate,hit,group_tab,num
    FROM (SELECT no,subject,name,regdate,hit,group_tab,rownum as num 
    FROM (SELECT no,subject,name,regdate,hit,group_tab 
    FROM replyBoard ORDER BY group_id DESC,group_step ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="replyFindData" resultType="BoardVO" parameterType="hashmap">
    SELECT no,subject,name,regdate,hit
    FROM replyBoard
    WHERE ${fs} LIKE '%'||#{ss}||'%'
  </select>
  <select id="replyTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/15.0) FROM replyBoard
  </select>
  <update id="replyHitIncrement" parameterType="int">
    UPDATE replyBoard SET
    hit=hit+1
    WHERE no=#{no}
  </update>
  <select id="replyDetailData" resultType="BoardVO" parameterType="int">
    SELECT no,name,subject,content,regdate,hit 
    FROM replyBoard
    WHERE no=#{no}
  </select>
</mapper>











