<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reserve-mapper">
  <select id="movieListData" resultType="MovieVO">
    SELECT mno,title,poster,score,theaterNo
    FROM movie
    WHERE type=1
  </select>
  <update id="movieTheaterUpdate" parameterType="MovieVO">
    UPDATE movie SET
    theaterNo=#{theaterNo}
    WHERE mno=#{mno}
  </update>
  <select id="movieTheaterData" resultType="ReserveTheaterVO" parameterType="int">
    SELECT tno,tname,tloc,tdate
    FROM reserveTheater
    WHERE tno=#{tno}
  </select>
  <update id="movieDateUpdate" parameterType="ReserveTheaterVO">
    UPDATE ReserveTheater SET
    tdate=#{tdate}
    WHERE tno=#{tno}
  </update>
  
  <update id="movieTimeUpdate" parameterType="ReserveDateVO">
    UPDATE ReserveDate SET
    time=#{time}
    WHERE tno=#{tno}
  </update>
</mapper>












