<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPBasicProject5</display-name>
  <!-- 
       1. Servlet 등록  => Spring,MVC
       2. filter => 한글 변환 코드 작성 
       3. error 처리 
       
       ============== 톰캣이 읽어서 처리할 수 있게 환경 설정 
       
       => web 관련 분석 
          1) web.xml =======> Framework
          2) server.xml
          3) 자바 클래스
          4) JSP
   -->
  <error-page>
    <error-code>400</error-code>
    <location>/databoard/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/databoard/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/databoard/500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>